@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100vh;
  width:100vw;
  background-image: linear-gradient(to top,#E0EAFC, #ecf2f3 90%);

}

/* body {
  display: grid;  
  place-items: left;    
} */

.intro {

color: #151e3d;
width: 90%;
margin-left: auto;
margin-right:auto;
font-size: 50px;
text-align: center;
padding-top: 20px;
padding-bottom: 10px;
}

.hero {
background-image: url(../images/test2.png);
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 8rem;
width: 100%;
}

.container .box .image{
  margin-left: 10px;
  margin-top: 30px;
  height: 120px;
  width: 120px;
  background: grey;
  /* padding: 3px; */
  border-radius: 50%;
}

.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1);
}

.container{
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
  padding: 10px;
 
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  
}
.container .box{
  width: calc(33% - 50px); 
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  /* padding: 10px 20px; */
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_name{ 
  color: #151e3d;
  font-size: 25px;
  font-weight: 800;
  margin-left: 30px;
}

.box .name_title {
  color: #6495ED;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}

.box .name_id,
.name_email,
.name_uni,
.name_github {
  color: #778899;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
}

@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;      
  }
}

@media (max-width:710px){
  .container {
    width: 90%;        
  }
}
